<li>
  <p>
    {{#link path}}{{name}}{{/link}} - <small>{{#button "details" tag="a"}}more info{{/button}}</small>
    <br />
    {{#button "buy"}}Buy ${{price}}{{/button}}
    <div class='details' style='display:none'></div>
  </p>
</li>