<li>
  <p>
    {{#link path}}{{name}}{{/link}} - <small>{{#button "details" tag="a"}}more info{{/button}}</small>
    <br />
    {{#if inCart}}
    {{#button "removeFromCart" tag="a"}}remove from cart{{/button}}
    {{/if}}
    {{#button "addToCart"}}Buy ${{price}}{{/button}}
    <div class='details' style='display:none'></div>
  </p>
</li>