<li>
  <p>
    {{#link path}}{{name}}{{/link}} - <small>{{#button "details" tag="a"}}more info{{/button}}</small>
    <br />
    {{#if inCart}}
    <small>
      {{#button "removeFromCart" tag="a"}}remove from cart{{/button}}
    </small>
    {{/if}}
    {{#button "addToCart"}}
      Buy It
    {{/button}}
    {{money price}}
    <div class='details' style='display:none'></div>
  </p>
</li>