#header
  background-color: #fcc
  padding: 5px
  margin-bottom: 10px
#footer
  margin-top: 10px
  background-color: #fcc
  padding: 5px
a[data-call-method]
  cursor: pointer
.view-cart
  font-size: 0.9em